doctype 5
html
  include includes/head
    script(type='text/javascript', src='/js/jquery.jplayer.min.js')
    script(type='text/javascript', src='/js/call.js')


  body
    include includes/navbar

    .container

      .panel.panel-default#call-player
        .panel-heading
          .row
            .col-md-2
              h3= time
            .col-xs-6.col-md-4
              h3= date
        .panel-body
          .row
            .col-md-8.col-md-offset-2
              .progress 
                .progress-bar.bar(style="width: 0%;")
          .row
            .col-md-1.col-md-offset-2
              .pull-left#current-time
            .col-md-2.col-md-offset-2
              #jp_container_1
                span.btn-group.btn-group-sm
                  button( type="button", class="btn btn-primary navbar-btn")
                    span(class="glyphicon glyphicon-play jp-play")
                  button( type="button", class="btn btn-primary navbar-btn")
                    span(class="glyphicon glyphicon-stop jp-stop")
            .col-md-1.col-md-offset-2
              .pull-right#duration
          .row
            .col-md-2
              h3 #{channel.tag}
              small Type
            .col-md-6
              h3 #{channel.desc}
              small Description
            .col-md-4
              h3 #{channel.alpha}
              small Talkgroup



    #jquery_jplayer_1.jp-jplayer
    
    script.
      self.update_timer = function (event) {
          var status = event.jPlayer.status;
          $('.jtimer').text($.jPlayer.convertTime(status.duration - status.currentTime));
          var percent = (status.currentTime / status.duration) * 100;
          $(".bar").css("width", percent + "%");
          $('#current-time').text(round(status.currentTime));
          $('#duration').text(round(status.duration));
      };


      $(document).ready(function() {
        var local_item =!{JSON.stringify(item)};
        var filename = '/media' + local_item.path + local_item.name;
        $("#jquery_jplayer_1").jPlayer({
            ready: function(event) {
                $(this).jPlayer("setMedia", {
                    wav: filename
                });
            },
            swfPath: "/js",
            supplied: "wav"
        })
        .bind($.jPlayer.event.timeupdate, self.update_timer);
      });
      


